
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #213547;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: azure;
}

.container {
  text-align: center;
  padding: 30px;
  overflow: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.user-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.user-card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
  display: flex;
  align-items: center;
  width: 300px;
  transition: transform 0.3s ease;
}

.user-card:hover {
  transform: scale(1.05)
}

.people-image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right:15px;
  border: 3px solid #213547;
}

.user-info {
  margin-left: 5px;
}

.user-info h2 {
  font-size: 16px;
  font-weight: 400;
  color: #213547;
  margin: 0;
}

.user-info p {
  font-size: 12px;
  color: #555;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (max-width: 600px) {
  .user-card {
    width: 100%;
    margin: 10px 0;
  }
}
